// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// NAV BAR LIST INDEX HTML //

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.txt {
  position: relative;
  animation: move-words 20s linear infinite;
  margin: 0;
  animation-direction: alternate;
}

.box {
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.box:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// BODY LIST INDEX HTML //

.container1 {
  background-color: #daf7a6;
  padding: 20px;
}

.card {
  display: flex;
  margin: 10px;
  box-shadow: 5px 5px 15px 2px #94a575;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 250px;
}

.resto-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.item {
  justify-content: center;
  padding: 5px;
  text-align: center;
}

.item img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.item a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

// FOOTER LIST INDEX HTML //
.footer {
  margin-top: 30px;
}

// SHOW LIST INDEX //

.show {
  background-color: red;
}

.card-show {
  background-color: black;
}

